# Analysis of Purchase Lots

In [1]:
import pandas as pd
import datetime

Lot_Data = 'Data_Lots-MSFT.csv'
Dividend_Data_Cy = 'Data_Div_Yield_Cy-MSFT.csv'
DivPay_Data_Cy = 'Data_Dividends_Pay_Fy-MSFT.csv'
today = datetime.date.today()
dividend = 3.32
price = 415.84
lot_year = 2016
div_paid = [5.19, 5.87, 7.79, 12.29, 16.83] # Enter Total Dividends

In [2]:
fwd_div_df = pd.read_csv(Dividend_Data_Cy, index_col='Date')
lot_df = pd.read_csv(Lot_Data, index_col='Date')
pay_df = pd.read_csv(DivPay_Data_Cy, index_col='ExDate')
pay_df.index = pd.to_datetime(pay_df.index)
pay_df = pay_df[pay_df.index.year > lot_year]

fwd_div_df.index = pd.to_datetime(fwd_div_df.index)
lot_df.index = pd.to_datetime(lot_df.index)

pay_df

            Dividend  RecordDate     PayDate DividendType Currency
ExDate
2024-11-21      0.83  2024-11-21  2024-12-12    Cash Div.      USD
2024-08-15      0.75  2024-08-15  2024-09-12    Cash Div.      USD
2024-05-15      0.75  2024-05-16  2024-06-13    Cash Div.      USD
2024-02-14      0.75  2024-02-15  2024-03-14    Cash Div.      USD
2023-11-15      0.75  2023-11-16  2023-12-14    Cash Div.      USD
2023-08-16      0.68  2023-08-17  2023-09-14    Cash Div.      USD
2023-05-17      0.68  2023-05-18  2023-06-08    Cash Div.      USD
2023-02-15      0.68  2023-02-16  2023-03-09    Cash Div.      USD
2022-11-16      0.68  2022-11-17  2022-12-08    Cash Div.      USD
2022-08-17      0.62  2022-08-18  2022-09-08    Cash Div.      USD
2022-05-18      0.62  2022-05-19  2022-06-09    Cash Div.      USD
2022-02-16      0.62  2022-02-17  2022-03-10    Cash Div.      USD
2021-11-17      0.62  2021-11-18  2021-12-09    Cash Div.      USD
2021-08-18      0.56  2021-08-19  2021-09-09    Cash Div.      USD
2021-05-19      0.56  2021-05-20  2021-06-10    Cash Div.      USD
2021-02-17      0.56  2021-02-18  2021-03-11    Cash Div.      USD
2020-11-18      0.56  2020-11-19  2020-12-10    Cash Div.      USD
2020-08-19      0.51  2020-08-20  2020-09-10    Cash Div.      USD
2020-05-20      0.51  2020-05-21  2020-06-11    Cash Div.      USD
2020-02-19      0.51  2020-02-20  2020-03-12    Cash Div.      USD
2019-11-20      0.51  2019-11-21  2019-12-12    Cash Div.      USD
2019-08-14      0.46  2019-08-15  2019-09-12    Cash Div.      USD
2019-05-15      0.46  2019-05-16  2019-06-13    Cash Div.      USD
2019-02-20      0.46  2019-02-21  2019-03-14    Cash Div.      USD
2018-11-14      0.46  2018-11-15  2018-12-13    Cash Div.      USD
2018-08-15      0.42  2018-08-16  2018-09-13    Cash Div.      USD
2018-05-16      0.42  2018-05-17  2018-06-14    Cash Div.      USD
2018-02-14      0.42  2018-02-15  2018-03-08    Cash Div.      USD
2017-11-15      0.42  2017-11-16  2017-12-14    Cash Div.      USD
2017-08-15      0.39  2017-08-17  2017-09-14    Cash Div.      USD
2017-05-16      0.39  2017-05-18  2017-06-08    Cash Div.      USD
2017-02-14      0.39  2017-02-16  2017-03-09    Cash Div.      USD

In [3]:
join_df = lot_df.join(fwd_div_df)

In [4]:
record_df = join_df.drop(['SharePrice','Dividend'], axis=1)
record_df['CurrentDividend'] = dividend
record_df['BuyYear'] = record_df.index.year
record_df['CurrentYear'] = today.year
record_df['CurrentPrice'] = price

record_df

,Price,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice
Date,,,,,,,,
2023-10-04,415.84,318.1100,2.72,0.008528,3.32,2023,2024,415.84
2022-12-22,415.84,239.7600,2.72,0.011419,3.32,2022,2024,415.84
2022-05-09,415.84,266.6060,2.48,0.009373,3.32,2022,2024,415.84
2020-03-26,415.84,151.6152,2.04,0.013068,3.32,2020,2024,415.84
2017-10-18,415.84,77.7890,1.56,0.020101,3.32,2017,2024,415.84

In [5]:
record_df['TotDiv'] = div_paid
record_df['EndValue'] = record_df['CurrentPrice'] + record_df['TotDiv']
record_df['End/Begin'] = record_df['EndValue'] / record_df['Cost/Share']
record_df['Period'] = 1 / (record_df['CurrentYear'] - record_df['BuyYear'])
record_df['CAGR'] = round(((record_df['End/Begin'] ** record_df['Period']) - 1) * 100, 2)

record_df

,Price,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice,TotDiv,EndValue,End/Begin,Period,CAGR
Date,,,,,,,,,,,,,
2023-10-04,415.84,318.1100,2.72,0.008528,3.32,2023,2024,415.84,5.19,421.03,1.323536,1.000000,32.35
2022-12-22,415.84,239.7600,2.72,0.011419,3.32,2022,2024,415.84,5.87,421.71,1.758884,0.500000,32.62
2022-05-09,415.84,266.6060,2.48,0.009373,3.32,2022,2024,415.84,7.79,423.63,1.588974,0.500000,26.05
2020-03-26,415.84,151.6152,2.04,0.013068,3.32,2020,2024,415.84,12.29,428.13,2.823793,0.250000,29.63
2017-10-18,415.84,77.7890,1.56,0.020101,3.32,2017,2024,415.84,16.83,432.67,5.562097,0.142857,27.78

In [6]:
yoc_df = record_df[['Cost/Share', 'CurrentDividend']]
yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

yoc_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_91918/1063397913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

            Cost/Share  CurrentDividend   YOC
Date
2023-10-04    318.1100             3.32  1.04
2022-12-22    239.7600             3.32  1.38
2022-05-09    266.6060             3.32  1.25
2020-03-26    151.6152             3.32  2.19
2017-10-18     77.7890             3.32  4.27