# Analysis Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-MSFT.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Waterfall Analysis

In [2]:
grow_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
grow_df['Cash'] = grow_df['CashEquivalents'] + grow_df['MarketSecurities']
grow_df

,Revenue,CashEquivalents,MarketSecurities,SharesOutBasic,SharesOutDiluted,CashForDividends,Cash
FiscalYear,,,,,,,
1985,140.4,18.9,0.0,7117.929,7117.929,0.0,18.9
1986,197.5,102.7,0.0,7342.400,7342.400,0.0,102.7
1987,345.9,132.5,0.0,7190.000,7190.000,0.0,132.5
1988,590.8,183.2,0.0,6195.000,6195.000,0.0,183.2
1989,803.5,192.4,0.0,6820.000,6820.000,0.0,192.4
1990,1183.4,246.3,0.0,7977.143,7977.143,0.0,246.3
1991,1843.4,417.2,0.0,8412.727,8412.727,0.0,417.2
1992,2758.7,791.4,0.0,8851.250,8851.250,0.0,791.4
1993,3753.0,1013.0,0.0,9530.000,9530.000,0.0,1013.0
1994,4649.0,1477.0,0.0,9760.000,9760.000,0.0,1477.0
1995,5937.0,1962.0,0.0,10032.000,10032.000,0.0,1962.0
1996,8671.0,2601.0,0.0,9340.426,10209.302,0.0,2601.0
1997,11936.0,3706.0,0.0,9552.778,10421.212,-15.0,3706.0
1998,15262.0,3839.0,0.0,9728.000,10724.000,-28.0,3839.0
1999,19747.0,4975.0,12261.0,10056.000,10964.000,-28.0,17236.0
2000,22956.0,4846.0,18952.0,10334.000,11067.059,-13.0,23798.0
2001,25296.0,3922.0,27678.0,10682.000,11148.000,0.0,31600.0
2002,28365.0,3016.0,35636.0,10811.000,11106.000,0.0,38652.0
2003,32187.0,6438.0,42610.0,10723.000,10882.000,-857.0,49048.0
2004,36835.0,14304.0,46288.0,10803.000,10894.000,-1729.0,60592.0
2005,39788.0,4851.0,32900.0,10839.000,10906.000,-36112.0,37751.0
2006,44282.0,6714.0,27447.0,10438.000,10531.000,-3545.0,34161.0
2007,51122.0,6111.0,17300.0,9742.000,9886.000,-3805.0,23411.0
2008,60420.0,10339.0,13323.0,9328.000,9470.000,-4015.0,23662.0
2009,58437.0,6076.0,25371.0,8945.000,8996.000,-4468.0,31447.0
2010,62484.0,5505.0,31283.0,8813.000,8927.000,-4578.0,36788.0
2011,69943.0,9610.0,43162.0,8490.000,8593.000,-5180.0,52772.0
2012,73723.0,6938.0,56102.0,8396.000,8506.000,-6385.0,63040.0
2013,77849.0,3804.0,73218.0,8375.000,8470.000,-7455.0,77022.0
2014,86833.0,8669.0,77040.0,8299.000,8399.000,-8879.0,85709.0
2015,93580.0,5595.0,90931.0,8177.000,8254.000,-9882.0,96526.0
2016,91154.0,6510.0,106730.0,7925.000,8013.000,-11006.0,113240.0
2017,96571.0,7663.0,125318.0,7746.000,7832.000,-11845.0,132981.0
2018,110360.0,11946.0,121822.0,7700.000,7794.000,-12699.0,133768.0
2019,125843.0,11356.0,122463.0,7673.000,7753.000,-13811.0,133819.0
2020,143015.0,13576.0,122951.0,7610.000,7683.000,-15137.0,136527.0
2021,168088.0,14224.0,116032.0,7547.000,7608.000,-16521.0,130256.0
2022,198270.0,13931.0,90818.0,7496.000,7540.000,-18135.0,104749.0
2023,211915.0,34704.0,76552.0,7446.000,7472.000,-19800.0,111256.0
2024,245122.0,18315.0,57216.0,7431.000,7469.000,-21771.0,75531.0

In [3]:
rev_s = pd.Series(grow_df['Revenue'])
rev_pc_s = round(rev_s.pct_change() * 100, 2)
rev_dict = {'Revenue' : rev_s, 'PercentChange' : rev_pc_s}

rev_df = pd.DataFrame(rev_dict)
rev_df_10 = rev_df[rev_df.index > year10]
rev_df_5 = rev_df[rev_df.index > year5]
rev_df_3 = rev_df[rev_df.index > year3]

rev_mn_10 = round(rev_df_10['PercentChange'].mean(), 2)
rev_mn_5 = round(rev_df_5['PercentChange'].mean(), 2)
rev_mn_3 = round(rev_df_3['PercentChange'].mean(), 2)


print(f'Ten Year Average Revenue Growth: {rev_mn_10}%')
print(f'Five Year Average Revenue Growth: {rev_mn_5}%')
print(f'Three Year Average Revenue Growth: {rev_mn_3}%')


rev_df

Ten Year Average Revenue Growth: 11.15%
Five Year Average Revenue Growth: 14.29%
Three Year Average Revenue Growth: 14.51%

             Revenue  PercentChange
FiscalYear
1985           140.4            NaN
1986           197.5          40.67
1987           345.9          75.14
1988           590.8          70.80
1989           803.5          36.00
1990          1183.4          47.28
1991          1843.4          55.77
1992          2758.7          49.65
1993          3753.0          36.04
1994          4649.0          23.87
1995          5937.0          27.70
1996          8671.0          46.05
1997         11936.0          37.65
1998         15262.0          27.87
1999         19747.0          29.39
2000         22956.0          16.25
2001         25296.0          10.19
2002         28365.0          12.13
2003         32187.0          13.47
2004         36835.0          14.44
2005         39788.0           8.02
2006         44282.0          11.29
2007         51122.0          15.45
2008         60420.0          18.19
2009         58437.0          -3.28
2010         62484.0           6.93
2011         69943.0          11.94
2012         73723.0           5.40
2013         77849.0           5.60
2014         86833.0          11.54
2015         93580.0           7.77
2016         91154.0          -2.59
2017         96571.0           5.94
2018        110360.0          14.28
2019        125843.0          14.03
2020        143015.0          13.65
2021        168088.0          17.53
2022        198270.0          17.96
2023        211915.0           6.88
2024        245122.0          15.67

# Cash On Hand Growth

In [4]:
cash_s = pd.Series(grow_df['Cash'])
cash_pc_s = round(cash_s.pct_change() * 100, 2)
cash_dict = {'Cash' : cash_s, 'PercentChange' : cash_pc_s}

cash_df = pd.DataFrame(cash_dict)

cash_df

                Cash  PercentChange
FiscalYear
1985            18.9            NaN
1986           102.7         443.39
1987           132.5          29.02
1988           183.2          38.26
1989           192.4           5.02
1990           246.3          28.01
1991           417.2          69.39
1992           791.4          89.69
1993          1013.0          28.00
1994          1477.0          45.80
1995          1962.0          32.84
1996          2601.0          32.57
1997          3706.0          42.48
1998          3839.0           3.59
1999         17236.0         348.97
2000         23798.0          38.07
2001         31600.0          32.78
2002         38652.0          22.32
2003         49048.0          26.90
2004         60592.0          23.54
2005         37751.0         -37.70
2006         34161.0          -9.51
2007         23411.0         -31.47
2008         23662.0           1.07
2009         31447.0          32.90
2010         36788.0          16.98
2011         52772.0          43.45
2012         63040.0          19.46
2013         77022.0          22.18
2014         85709.0          11.28
2015         96526.0          12.62
2016        113240.0          17.32
2017        132981.0          17.43
2018        133768.0           0.59
2019        133819.0           0.04
2020        136527.0           2.02
2021        130256.0          -4.59
2022        104749.0         -19.58
2023        111256.0           6.21
2024         75531.0         -32.11

# Shares Outstanding

In [5]:
share_s = pd.Series(grow_df['SharesOutDiluted'])
share_pc_s = round(share_s.pct_change() * 100, 2)
share_dict = {'SharesOutDiluted' : share_s, 'PercentChange' : share_pc_s}

share_df = pd.DataFrame(share_dict)

share_df_10 = share_df[share_df.index > year10]
share_df_5 = share_df[share_df.index > year5]
share_df_3 = share_df[share_df.index > year3]

share_mn_10 = round(share_df_10['PercentChange'].mean(), 2)
share_mn_5 = round(share_df_5['PercentChange'].mean(), 2)
share_mn_3 = round(share_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Share Growth: {share_mn_10}%')
print(f'Five Year Average Share Growth: {share_mn_5}%')
print(f'Three Year Average Share Growth: {share_mn_3}%')

share_df

Ten YearAverage Share Growth: -1.13%
Five Year Average Share Growth: -0.71%
Three Year Average Share Growth: -0.7%

            SharesOutDiluted  PercentChange
FiscalYear
1985                7117.929            NaN
1986                7342.400           3.15
1987                7190.000          -2.08
1988                6195.000         -13.84
1989                6820.000          10.09
1990                7977.143          16.97
1991                8412.727           5.46
1992                8851.250           5.21
1993                9530.000           7.67
1994                9760.000           2.41
1995               10032.000           2.79
1996               10209.302           1.77
1997               10421.212           2.08
1998               10724.000           2.91
1999               10964.000           2.24
2000               11067.059           0.94
2001               11148.000           0.73
2002               11106.000          -0.38
2003               10882.000          -2.02
2004               10894.000           0.11
2005               10906.000           0.11
2006               10531.000          -3.44
2007                9886.000          -6.12
2008                9470.000          -4.21
2009                8996.000          -5.01
2010                8927.000          -0.77
2011                8593.000          -3.74
2012                8506.000          -1.01
2013                8470.000          -0.42
2014                8399.000          -0.84
2015                8254.000          -1.73
2016                8013.000          -2.92
2017                7832.000          -2.26
2018                7794.000          -0.49
2019                7753.000          -0.53
2020                7683.000          -0.90
2021                7608.000          -0.98
2022                7540.000          -0.89
2023                7472.000          -0.90
2024                7469.000          -0.04

# Dividend Growth

In [6]:
div_s = pd.Series(grow_df['CashForDividends'].abs())
div_pc_s = round(div_s.pct_change() * 100, 2)
div_dict = {'CashForDividends' : div_s, 'PercentChange' : div_pc_s}

div_df = pd.DataFrame(div_dict)

div_df_10 = div_df[div_df.index > year10]
div_df_5 = div_df[div_df.index > year5]
div_df_3 = div_df[div_df.index > year3]

div_mn_10 = round(div_df_10['PercentChange'].mean(), 2)
div_mn_5 = round(div_df_5['PercentChange'].mean(), 2)
div_mn_3 = round(div_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Dividend Growth: {div_mn_10}%')
print(f'Five Year Average Dividend Growth: {div_mn_5}%')
print(f'Three Year Average Dividend Growth: {div_mn_3}%')

div_df

Ten YearAverage Dividend Growth: 10.27%
Five Year Average Dividend Growth: 9.4%
Three Year Average Dividend Growth: 9.51%

            CashForDividends  PercentChange
FiscalYear
1985                     0.0            NaN
1986                     0.0            NaN
1987                     0.0            NaN
1988                     0.0            NaN
1989                     0.0            NaN
1990                     0.0            NaN
1991                     0.0            NaN
1992                     0.0            NaN
1993                     0.0            NaN
1994                     0.0            NaN
1995                     0.0            NaN
1996                     0.0            NaN
1997                    15.0            inf
1998                    28.0          86.67
1999                    28.0           0.00
2000                    13.0         -53.57
2001                     0.0        -100.00
2002                     0.0            NaN
2003                   857.0            inf
2004                  1729.0         101.75
2005                 36112.0        1988.61
2006                  3545.0         -90.18
2007                  3805.0           7.33
2008                  4015.0           5.52
2009                  4468.0          11.28
2010                  4578.0           2.46
2011                  5180.0          13.15
2012                  6385.0          23.26
2013                  7455.0          16.76
2014                  8879.0          19.10
2015                  9882.0          11.30
2016                 11006.0          11.37
2017                 11845.0           7.62
2018                 12699.0           7.21
2019                 13811.0           8.76
2020                 15137.0           9.60
2021                 16521.0           9.14
2022                 18135.0           9.77
2023                 19800.0           9.18
2024                 21771.0           9.95