# Analysis Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-XOM.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Waterfall Analysis

In [2]:
grow_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
grow_df['Cash'] = grow_df['CashEquivalents'] + grow_df['MarketSecurities']
grow_df

,Revenue,CashEquivalents,MarketSecurities,SharesOutBasic,SharesOutDiluted,CashForDividends,Cash
FiscalYear,,,,,,,
1984,90854.0,3290.0,0.0,6503.529,6503.529,0.0,3290.0
1985,86673.0,2474.0,0.0,6012.346,6012.346,0.0,2474.0
1986,69888.0,3816.0,0.0,5763.441,5763.441,0.0,3816.0
1987,76416.0,2531.0,0.0,5627.907,5627.907,0.0,2531.0
1988,79557.0,2409.0,0.0,5313.131,5313.131,0.0,2409.0
1989,86656.0,1865.0,0.0,5124.088,5124.088,-3170.0,1865.0
1990,105519.0,1332.0,0.0,4989.697,4989.697,-3397.0,1332.0
1991,102847.0,1496.0,0.0,4963.677,4963.677,-3645.0,1496.0
1992,103160.0,898.0,0.0,4983.280,4983.280,-3832.0,898.0
1993,97825.0,983.0,0.0,4957.238,4980.957,-3879.0,983.0
1994,99683.0,1157.0,0.0,4970.909,5039.370,-4079.0,1157.0
1995,107893.0,1508.0,0.0,4996.139,4996.139,-4047.0,1508.0
1996,116728.0,2951.0,0.0,4972.093,5040.201,-4193.0,2951.0
1997,176552.0,4047.0,0.0,4966.667,5029.536,-6177.0,4047.0
1998,165627.0,2386.0,50.0,4885.572,4934.673,-6230.0,2436.0
1999,182529.0,1688.0,73.0,6907.018,6999.111,-6091.0,1761.0
2000,231846.0,7080.0,0.0,6949.020,7031.746,-6374.0,7080.0
2001,212785.0,6547.0,0.0,6869.955,6932.127,-6448.0,6547.0
2002,204506.0,7229.0,0.0,6781.065,6821.429,-6386.0,7229.0
2003,246738.0,10626.0,0.0,6638.889,6659.443,-6945.0,10626.0
2004,298035.0,18531.0,0.0,6478.261,6511.568,-7111.0,18531.0
2005,370680.0,28671.0,0.0,6272.569,6327.496,-7478.0,28671.0
2006,377635.0,28244.0,0.0,5913.174,5966.767,-7867.0,28244.0
2007,395651.0,33981.0,519.0,5557.000,5593.664,-7621.0,34500.0
2008,466278.0,31437.0,570.0,5194.000,5221.709,-8058.0,32007.0
2009,303443.0,10693.0,169.0,4832.000,4848.000,-8023.0,10862.0
2010,370125.0,7825.0,0.0,4885.000,4897.106,-8498.0,7825.0
2011,467029.0,12664.0,0.0,4870.000,4870.000,-9020.0,12664.0
2012,451509.0,9582.0,0.0,4628.000,4628.000,-10092.0,9582.0
2013,420836.0,4644.0,0.0,4419.000,4419.000,-10875.0,4644.0
2014,394105.0,4616.0,0.0,4282.000,4282.000,-11568.0,4616.0
2015,239854.0,3705.0,0.0,4196.000,4196.000,-12090.0,3705.0
2016,200628.0,3657.0,0.0,4177.000,4177.000,-12453.0,3657.0
2017,237162.0,3177.0,0.0,4256.000,4256.000,-13001.0,3177.0
2018,279332.0,3042.0,0.0,4270.000,4270.000,-13798.0,3042.0
2019,255583.0,3089.0,0.0,4270.000,4270.000,-14652.0,3089.0
2020,178574.0,4364.0,0.0,4271.000,4271.000,-14865.0,4364.0
2021,276692.0,6802.0,0.0,4275.000,4275.000,-14924.0,6802.0
2022,398675.0,29640.0,0.0,4205.000,4205.000,-14939.0,29640.0
2023,334697.0,31539.0,0.0,4052.000,4052.000,-14941.0,31539.0

In [3]:
rev_s = pd.Series(grow_df['Revenue'])
rev_pc_s = round(rev_s.pct_change() * 100, 2)
rev_dict = {'Revenue' : rev_s, 'PercentChange' : rev_pc_s}

rev_df = pd.DataFrame(rev_dict)
rev_df_10 = rev_df[rev_df.index > year10]
rev_df_5 = rev_df[rev_df.index > year5]
rev_df_3 = rev_df[rev_df.index > year3]

rev_mn_10 = round(rev_df_10['PercentChange'].mean(), 2)
rev_mn_5 = round(rev_df_5['PercentChange'].mean(), 2)
rev_mn_3 = round(rev_df_3['PercentChange'].mean(), 2)


print(f'Ten Year Average Revenue Growth: {rev_mn_10}%')
print(f'Five Year Average Revenue Growth: {rev_mn_5}%')
print(f'Three Year Average Revenue Growth: {rev_mn_3}%')


rev_df

Ten Year Average Revenue Growth: 1.85%
Five Year Average Revenue Growth: 8.87%
Three Year Average Revenue Growth: 27.66%

             Revenue  PercentChange
FiscalYear
1984         90854.0            NaN
1985         86673.0          -4.60
1986         69888.0         -19.37
1987         76416.0           9.34
1988         79557.0           4.11
1989         86656.0           8.92
1990        105519.0          21.77
1991        102847.0          -2.53
1992        103160.0           0.30
1993         97825.0          -5.17
1994         99683.0           1.90
1995        107893.0           8.24
1996        116728.0           8.19
1997        176552.0          51.25
1998        165627.0          -6.19
1999        182529.0          10.20
2000        231846.0          27.02
2001        212785.0          -8.22
2002        204506.0          -3.89
2003        246738.0          20.65
2004        298035.0          20.79
2005        370680.0          24.37
2006        377635.0           1.88
2007        395651.0           4.77
2008        466278.0          17.85
2009        303443.0         -34.92
2010        370125.0          21.98
2011        467029.0          26.18
2012        451509.0          -3.32
2013        420836.0          -6.79
2014        394105.0          -6.35
2015        239854.0         -39.14
2016        200628.0         -16.35
2017        237162.0          18.21
2018        279332.0          17.78
2019        255583.0          -8.50
2020        178574.0         -30.13
2021        276692.0          54.95
2022        398675.0          44.09
2023        334697.0         -16.05

# Cash On Hand Growth

In [4]:
cash_s = pd.Series(grow_df['Cash'])
cash_pc_s = round(cash_s.pct_change() * 100, 2)
cash_dict = {'Cash' : cash_s, 'PercentChange' : cash_pc_s}

cash_df = pd.DataFrame(cash_dict)

cash_df

               Cash  PercentChange
FiscalYear
1984         3290.0            NaN
1985         2474.0         -24.80
1986         3816.0          54.24
1987         2531.0         -33.67
1988         2409.0          -4.82
1989         1865.0         -22.58
1990         1332.0         -28.58
1991         1496.0          12.31
1992          898.0         -39.97
1993          983.0           9.47
1994         1157.0          17.70
1995         1508.0          30.34
1996         2951.0          95.69
1997         4047.0          37.14
1998         2436.0         -39.81
1999         1761.0         -27.71
2000         7080.0         302.04
2001         6547.0          -7.53
2002         7229.0          10.42
2003        10626.0          46.99
2004        18531.0          74.39
2005        28671.0          54.72
2006        28244.0          -1.49
2007        34500.0          22.15
2008        32007.0          -7.23
2009        10862.0         -66.06
2010         7825.0         -27.96
2011        12664.0          61.84
2012         9582.0         -24.34
2013         4644.0         -51.53
2014         4616.0          -0.60
2015         3705.0         -19.74
2016         3657.0          -1.30
2017         3177.0         -13.13
2018         3042.0          -4.25
2019         3089.0           1.55
2020         4364.0          41.28
2021         6802.0          55.87
2022        29640.0         335.75
2023        31539.0           6.41

# Shares Outstanding

In [5]:
share_s = pd.Series(grow_df['SharesOutDiluted'])
share_pc_s = round(share_s.pct_change() * 100, 2)
share_dict = {'SharesOutDiluted' : share_s, 'PercentChange' : share_pc_s}

share_df = pd.DataFrame(share_dict)

share_df_10 = share_df[share_df.index > year10]
share_df_5 = share_df[share_df.index > year5]
share_df_3 = share_df[share_df.index > year3]

share_mn_10 = round(share_df_10['PercentChange'].mean(), 2)
share_mn_5 = round(share_df_5['PercentChange'].mean(), 2)
share_mn_3 = round(share_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Share Growth: {share_mn_10}%')
print(f'Five Year Average Share Growth: {share_mn_5}%')
print(f'Three Year Average Share Growth: {share_mn_3}%')

share_df

Ten YearAverage Share Growth: -0.85%
Five Year Average Share Growth: -1.03%
Three Year Average Share Growth: -1.73%

            SharesOutDiluted  PercentChange
FiscalYear
1984                6503.529            NaN
1985                6012.346          -7.55
1986                5763.441          -4.14
1987                5627.907          -2.35
1988                5313.131          -5.59
1989                5124.088          -3.56
1990                4989.697          -2.62
1991                4963.677          -0.52
1992                4983.280           0.39
1993                4980.957          -0.05
1994                5039.370           1.17
1995                4996.139          -0.86
1996                5040.201           0.88
1997                5029.536          -0.21
1998                4934.673          -1.89
1999                6999.111          41.84
2000                7031.746           0.47
2001                6932.127          -1.42
2002                6821.429          -1.60
2003                6659.443          -2.37
2004                6511.568          -2.22
2005                6327.496          -2.83
2006                5966.767          -5.70
2007                5593.664          -6.25
2008                5221.709          -6.65
2009                4848.000          -7.16
2010                4897.106           1.01
2011                4870.000          -0.55
2012                4628.000          -4.97
2013                4419.000          -4.52
2014                4282.000          -3.10
2015                4196.000          -2.01
2016                4177.000          -0.45
2017                4256.000           1.89
2018                4270.000           0.33
2019                4270.000           0.00
2020                4271.000           0.02
2021                4275.000           0.09
2022                4205.000          -1.64
2023                4052.000          -3.64

# Dividend Growth

In [6]:
div_s = pd.Series(grow_df['CashForDividends'].abs())
div_pc_s = round(div_s.pct_change() * 100, 2)
div_dict = {'CashForDividends' : div_s, 'PercentChange' : div_pc_s}

div_df = pd.DataFrame(div_dict)

div_df_10 = div_df[div_df.index > year10]
div_df_5 = div_df[div_df.index > year5]
div_df_3 = div_df[div_df.index > year3]

div_mn_10 = round(div_df_10['PercentChange'].mean(), 2)
div_mn_5 = round(div_df_5['PercentChange'].mean(), 2)
div_mn_3 = round(div_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Dividend Growth: {div_mn_10}%')
print(f'Five Year Average Dividend Growth: {div_mn_5}%')
print(f'Three Year Average Dividend Growth: {div_mn_3}%')

div_df

Ten YearAverage Dividend Growth: 3.26%
Five Year Average Dividend Growth: 1.63%
Three Year Average Dividend Growth: 0.17%

            CashForDividends  PercentChange
FiscalYear
1984                     0.0            NaN
1985                     0.0            NaN
1986                     0.0            NaN
1987                     0.0            NaN
1988                     0.0            NaN
1989                  3170.0            inf
1990                  3397.0           7.16
1991                  3645.0           7.30
1992                  3832.0           5.13
1993                  3879.0           1.23
1994                  4079.0           5.16
1995                  4047.0          -0.78
1996                  4193.0           3.61
1997                  6177.0          47.32
1998                  6230.0           0.86
1999                  6091.0          -2.23
2000                  6374.0           4.65
2001                  6448.0           1.16
2002                  6386.0          -0.96
2003                  6945.0           8.75
2004                  7111.0           2.39
2005                  7478.0           5.16
2006                  7867.0           5.20
2007                  7621.0          -3.13
2008                  8058.0           5.73
2009                  8023.0          -0.43
2010                  8498.0           5.92
2011                  9020.0           6.14
2012                 10092.0          11.88
2013                 10875.0           7.76
2014                 11568.0           6.37
2015                 12090.0           4.51
2016                 12453.0           3.00
2017                 13001.0           4.40
2018                 13798.0           6.13
2019                 14652.0           6.19
2020                 14865.0           1.45
2021                 14924.0           0.40
2022                 14939.0           0.10
2023                 14941.0           0.01