# Analysis Dividend Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-AAPL.csv'
Ps_Data_Fy = 'Data_Per_Share_Fy-AAPL.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Dividend Cash Growth

In [2]:
dgro_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
dgro_ps_df = pd.read_csv(Ps_Data_Fy,index_col='FiscalYear')

dgro_s = pd.Series(dgro_df['CashForDividends'].abs())
dgro_pc_s = round(dgro_s.pct_change() * 100, 2)
dgro_ps_s = pd.Series(dgro_ps_df['PerShareDividends'])
dgro_ps_pc_s = round(dgro_ps_s.pct_change() * 100, 2)

div_dict = {'Dividends' : dgro_s, 'DivChange' : dgro_pc_s, 'DPS' : dgro_ps_s, 'DpsChange' : dgro_ps_pc_s}
divgro_df = pd.DataFrame(div_dict)

divgro_df

            Dividends  DivChange    DPS  DpsChange
FiscalYear
1984            0.000        NaN  0.000        NaN
1985            0.000        NaN  0.000        NaN
1986            0.000        NaN  0.000        NaN
1987            0.000        NaN  0.001        inf
1988            0.000        NaN  0.003     200.00
1989           50.300        inf  0.004      33.33
1990           53.800       6.96  0.004       0.00
1991           56.500       5.02  0.004       0.00
1992           57.196       1.23  0.004       0.00
1993           56.000      -2.09  0.004       0.00
1994           56.000       0.00  0.004       0.00
1995           58.000       3.57  0.004       0.00
1996           14.000     -75.86  0.001     -75.00
1997            0.000    -100.00  0.000    -100.00
1998            0.000        NaN  0.000        NaN
1999            0.000        NaN  0.000        NaN
2000            0.000        NaN  0.000        NaN
2001            0.000        NaN  0.000        NaN
2002            0.000        NaN  0.000        NaN
2003            0.000        NaN  0.000        NaN
2004            0.000        NaN  0.000        NaN
2005            0.000        NaN  0.000        NaN
2006            0.000        NaN  0.000        NaN
2007            0.000        NaN  0.000        NaN
2008            0.000        NaN  0.000        NaN
2009            0.000        NaN  0.000        NaN
2010            0.000        NaN  0.000        NaN
2011            0.000        NaN  0.000        NaN
2012         2488.000        inf  0.095        inf
2013        10564.000     324.60  0.407     328.42
2014        11126.000       5.32  0.453      11.30
2015        11561.000       3.91  0.495       9.27
2016        12150.000       5.09  0.545      10.10
2017        12769.000       5.09  0.600      10.09
2018        13712.000       7.39  0.680      13.33
2019        14119.000       2.97  0.750      10.29
2020        14081.000      -0.27  0.795       6.00
2021        14467.000       2.74  0.850       6.92
2022        14841.000       2.59  0.900       5.88
2023        15025.000       1.24  0.940       4.44

In [3]:
dg10_df = divgro_df[divgro_df.index > year10]
dg_10 = round(dg10_df['DivChange'].mean(), 2)
dps_10 = round(dg10_df['DpsChange'].mean(), 2)

dg5_df = divgro_df[divgro_df.index > year5]
dg_5 = round(dg5_df['DivChange'].mean(), 2)
dps_5 = round(dg5_df['DpsChange'].mean(), 2)

dg3_df = divgro_df[divgro_df.index > year3]
dg_3 = round(dg3_df['DivChange'].mean(), 2)
dps_3 = round(dg3_df['DpsChange'].mean(), 2)

print(f'The 10 year Average Growth of Cash Dividends: {dg_10}% and Dividends Per Share: {dps_10}%')
print(f'The 10 year Average Growth of Cash Dividends: {dg_5}% and Dividends Per Share: {dps_5}%')
print(f'The 10 year Average Growth of Cash Dividends: {dg_3}% and Dividends Per Share: {dps_3}%')

The 10 year Average Growth of Cash Dividends: 3.61% and Dividends Per Share: 8.76%
The 10 year Average Growth of Cash Dividends: 1.85% and Dividends Per Share: 6.71%
The 10 year Average Growth of Cash Dividends: 2.19% and Dividends Per Share: 5.75%