# Analysis of Purchase Lots

In [1]:
import pandas as pd
import datetime

Lot_Data = 'Data_Lots-AAPL.csv'
Dividend_Data_Cy = 'Data_Div_Yield_Cy-AAPL.csv'
DivPay_Data_Cy = 'Data_Dividends_Pay_Fy-AAPL.csv'
today = datetime.date.today()
dividend = 1.00
price = 229.03
lot_year = 2016
div_paid =[5.0352, 5.215, 6.21]

In [2]:
fwd_div_df = pd.read_csv(Dividend_Data_Cy, index_col='Date')
lot_df = pd.read_csv(Lot_Data, index_col='Date')
pay_df = pd.read_csv(DivPay_Data_Cy, index_col='ExDate')
pay_df.index = pd.to_datetime(pay_df.index)
pay_df = pay_df[pay_df.index.year > lot_year]

fwd_div_df.index = pd.to_datetime(fwd_div_df.index)
lot_df.index = pd.to_datetime(lot_df.index)

pay_df

            Dividend  RecordDate     PayDate DividendType Currency
ExDate
2024-08-12    0.2500  2024-08-12  2024-08-15    Cash Div.      USD
2024-05-10    0.2500  2024-05-13  2024-05-16    Cash Div.      USD
2024-02-09    0.2400  2024-02-12  2024-02-15    Cash Div.      USD
2023-11-10    0.2400  2023-11-13  2023-11-16    Cash Div.      USD
2023-08-11    0.2400  2023-08-14  2023-08-17    Cash Div.      USD
2023-05-12    0.2400  2023-05-15  2023-05-18    Cash Div.      USD
2023-02-10    0.2300  2023-02-13  2023-02-16    Cash Div.      USD
2022-11-04    0.2300  2022-11-07  2022-11-10    Cash Div.      USD
2022-08-05    0.2300  2022-08-08  2022-08-11    Cash Div.      USD
2022-05-06    0.2300  2022-05-09  2022-05-12    Cash Div.      USD
2022-02-04    0.2200  2022-02-07  2022-02-10    Cash Div.      USD
2021-11-05    0.2200  2021-11-08  2021-11-11    Cash Div.      USD
2021-08-06    0.2200  2021-08-09  2021-08-12    Cash Div.      USD
2021-05-07    0.2200  2021-05-10  2021-05-13    Cash Div.      USD
2021-02-05    0.2050  2021-02-08  2021-02-11    Cash Div.      USD
2020-11-06    0.2050  2020-11-09  2020-11-12    Cash Div.      USD
2020-08-07    0.2050  2020-08-10  2020-08-13    Cash Div.      USD
2020-05-08    0.2050  2020-05-11  2020-05-14    Cash Div.      USD
2020-02-07    0.1925  2020-02-10  2020-02-13    Cash Div.      USD
2019-11-07    0.1925  2019-11-11  2019-11-14    Cash Div.      USD
2019-08-09    0.1925  2019-08-12  2019-08-15    Cash Div.      USD
2019-05-10    0.1925  2019-05-13  2019-05-16    Cash Div.      USD
2019-02-08    0.1825  2019-02-11  2019-02-14    Cash Div.      USD
2018-11-08    0.1825  2018-11-12  2018-11-15    Cash Div.      USD
2018-08-10    0.1825  2018-08-13  2018-08-16    Cash Div.      USD
2018-05-11    0.1825  2018-05-14  2018-05-17    Cash Div.      USD
2018-02-09    0.1575  2018-02-12  2018-02-15    Cash Div.      USD
2017-11-10    0.1575  2017-11-13  2017-11-16    Cash Div.      USD
2017-08-10    0.1575  2017-08-14  2017-08-17    Cash Div.      USD
2017-05-11    0.1575  2017-05-15  2017-05-18    Cash Div.      USD
2017-02-09    0.1425  2017-02-13  2017-02-16    Cash Div.      USD

In [3]:
join_df = lot_df.join(fwd_div_df)

In [4]:
record_df = join_df.drop(['SharePrice','Dividend'], axis=1)
record_df['CurrentDividend'] = dividend
record_df['BuyYear'] = record_df.index.year
record_df['CurrentYear'] = today.year
record_df['CurrentPrice'] = price

record_df

,Price,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice
Date,,,,,,,,
2019-01-07,229.04,36.83,0.73,0.019740,1.0,2019,2024,229.03
2018-11-27,229.04,43.37,0.73,0.016758,1.0,2018,2024,229.03
2017-05-15,229.04,38.98,0.63,0.016183,1.0,2017,2024,229.03

In [5]:
record_df['TotDiv'] = div_paid
record_df['EndValue'] = record_df['CurrentPrice'] + record_df['TotDiv']
record_df['End/Begin'] = record_df['EndValue'] / record_df['Cost/Share']
record_df['Period'] = 1 / (record_df['CurrentYear'] - record_df['BuyYear'])
record_df['CAGR'] = round(((record_df['End/Begin'] ** record_df['Period']) - 1) * 100, 2)

record_df

,Price,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice,TotDiv,EndValue,End/Begin,Period,CAGR
Date,,,,,,,,,,,,,
2019-01-07,229.04,36.83,0.73,0.019740,1.0,2019,2024,229.03,5.0352,234.0652,6.355286,0.200000,44.75
2018-11-27,229.04,43.37,0.73,0.016758,1.0,2018,2024,229.03,5.2150,234.2450,5.401084,0.166667,32.46
2017-05-15,229.04,38.98,0.63,0.016183,1.0,2017,2024,229.03,6.2100,235.2400,6.034890,0.142857,29.28

In [6]:
yoc_df = record_df[['Cost/Share', 'CurrentDividend']]
yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

yoc_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_91457/1063397913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

            Cost/Share  CurrentDividend   YOC
Date
2019-01-07       36.83              1.0  2.72
2018-11-27       43.37              1.0  2.31
2017-05-15       38.98              1.0  2.57