# Analysis of Purchase Lots

In [1]:
import pandas as pd
import datetime

Lot_Data = 'Data_Lots-.csv'
Dividend_Data_Cy = 'Data_Div_Yield_Cy-.csv'
DivPay_Data_Cy = 'Data_Dividends_Pay_Fy-.csv'
today = datetime.date.today()
dividend = 5.44
price = 202.07
lot_year = 2017
div_paid = [] # Enter Total Dividends

In [2]:
fwd_div_df = pd.read_csv(Dividend_Data_Cy, index_col='Date')
lot_df = pd.read_csv(Lot_Data, index_col='Date')
pay_df = pd.read_csv(DivPay_Data_Cy, index_col='ExDate')
pay_df.index = pd.to_datetime(pay_df.index)
pay_df = pay_df[pay_df.index.year > lot_year]

fwd_div_df.index = pd.to_datetime(fwd_div_df.index)
lot_df.index = pd.to_datetime(lot_df.index)

pay_df

            Dividend  RecordDate     PayDate DividendType Currency
ExDate
2024-10-31      1.36  2024-10-31  2024-11-12    Cash Div.      USD
2024-07-31      1.30  2024-07-31  2024-08-13    Cash Div.      USD
2024-05-07      1.30  2024-05-08  2024-05-21    Cash Div.      USD
2024-01-30      1.30  2024-01-31  2024-02-13    Cash Div.      USD
2023-10-30      1.30  2023-10-31  2023-11-14    Cash Div.      USD
2023-07-28      1.24  2023-07-31  2023-08-15    Cash Div.      USD
2023-05-05      1.24  2023-05-08  2023-05-16    Cash Div.      USD
2023-01-30      1.24  2023-01-31  2023-02-14    Cash Div.      USD
2022-10-28      1.24  2022-10-31  2022-11-15    Cash Div.      USD
2022-07-29      1.15  2022-08-01  2022-08-16    Cash Div.      USD
2022-05-06      1.15  2022-05-09  2022-05-17    Cash Div.      USD
2022-01-28      1.15  2022-01-31  2022-02-07    Cash Div.      USD
2021-10-29      1.15  2021-11-01  2021-11-15    Cash Div.      USD
2021-07-23      1.02  2021-07-26  2021-08-09    Cash Div.      USD
2021-04-30      1.02  2021-05-03  2021-05-17    Cash Div.      USD
2021-01-29      1.02  2021-02-01  2021-02-08    Cash Div.      USD
2020-10-29      1.02  2020-10-30  2020-11-16    Cash Div.      USD
2020-07-30      0.90  2020-07-31  2020-08-17    Cash Div.      USD
2020-05-01      0.90  2020-05-04  2020-05-18    Cash Div.      USD
2020-01-30      0.90  2020-01-31  2020-02-10    Cash Div.      USD
2019-10-30      0.90  2019-10-31  2019-11-18    Cash Div.      USD
2019-07-30      0.77  2019-07-31  2019-08-12    Cash Div.      USD
2019-05-03      0.77  2019-05-06  2019-05-20    Cash Div.      USD
2019-01-30      0.77  2019-01-31  2019-02-11    Cash Div.      USD
2018-10-30      0.77  2018-10-31  2018-11-19    Cash Div.      USD
2018-07-30      0.62  2018-07-31  2018-08-13    Cash Div.      USD
2018-05-04      0.62  2018-05-07  2018-05-21    Cash Div.      USD
2018-01-30      0.62  2018-01-31  2018-02-12    Cash Div.      USD

In [3]:
join_df = lot_df.join(fwd_div_df)

In [4]:
record_df = join_df.drop(['SharePrice','Dividend'], axis=1)
record_df['CurrentDividend'] = dividend
record_df['BuyYear'] = record_df.index.year
record_df['CurrentYear'] = today.year
record_df['CurrentPrice'] = price

record_df

,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice
Date,,,,,,,
2023-11-13,145.84,5.20,0.035648,5.44,2023,2024,202.07
2023-11-08,145.27,5.20,0.035808,5.44,2023,2024,202.07
2023-02-23,169.43,4.96,0.028867,5.44,2023,2024,202.07
2022-10-10,156.78,4.60,0.029339,5.44,2022,2024,202.07
2022-07-11,153.36,4.60,0.029956,5.44,2022,2024,202.07
2022-07-05,145.69,4.60,0.030852,5.44,2022,2024,202.07
2020-03-10,105.97,3.60,0.032108,5.44,2020,2024,202.07
2018-11-12,93.85,3.08,0.032952,5.44,2018,2024,202.07
2018-10-30,91.97,3.08,0.033122,5.44,2018,2024,202.07
2018-10-29,91.82,2.48,0.027501,5.44,2018,2024,202.07

In [9]:
record_df['TotDiv'] = div_paid
record_df['EndValue'] = record_df['CurrentPrice'] + record_df['TotDiv']
record_df['End/Begin'] = record_df['EndValue'] / record_df['Cost/Share']
record_df['Period'] = 1 / (record_df['CurrentYear'] - record_df['BuyYear'])
record_df['CAGR'] = round(((record_df['End/Begin'] ** record_df['Period']) - 1) * 100, 2)

record_df

,Cost/Share,FwdDiv,FwdDivYield,CurrentDividend,BuyYear,CurrentYear,CurrentPrice,TotDiv,EndValue,End/Begin,Period,CAGR
Date,,,,,,,,,,,,
2023-11-13,145.84,5.20,0.035648,5.44,2023,2024,202.07,5.26,207.33,1.421626,1.000000,42.16
2023-11-08,145.27,5.20,0.035808,5.44,2023,2024,202.07,5.26,207.33,1.427205,1.000000,42.72
2023-02-23,169.43,4.96,0.028867,5.44,2023,2024,202.07,9.04,211.11,1.246001,1.000000,24.60
2022-10-10,156.78,4.60,0.029339,5.44,2022,2024,202.07,11.52,213.59,1.362355,0.500000,16.72
2022-07-11,153.36,4.60,0.029956,5.44,2022,2024,202.07,12.67,214.74,1.400235,0.500000,18.33
2022-07-05,145.69,4.60,0.030852,5.44,2022,2024,202.07,12.67,214.74,1.473952,0.500000,21.41
2020-03-10,105.97,3.60,0.032108,5.44,2020,2024,202.07,22.00,224.07,2.114466,0.250000,20.59
2018-11-12,93.85,3.08,0.032952,5.44,2018,2024,202.07,27.50,229.57,2.446137,0.166667,16.08
2018-10-30,91.97,3.08,0.033122,5.44,2018,2024,202.07,27.50,229.57,2.496140,0.166667,16.47
2018-10-29,91.82,2.48,0.027501,5.44,2018,2024,202.07,27.50,229.57,2.500218,0.166667,16.50

In [12]:
yoc_df = record_df[['Cost/Share', 'CurrentDividend']]
yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

yoc_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_87336/1063397913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yoc_df['YOC'] = round(yoc_df['CurrentDividend'] / yoc_df['Cost/Share'] * 100, 2)

            Cost/Share  CurrentDividend   YOC
Date
2023-11-13      145.84             5.44  3.73
2023-11-08      145.27             5.44  3.74
2023-02-23      169.43             5.44  3.21
2022-10-10      156.78             5.44  3.47
2022-07-11      153.36             5.44  3.55
2022-07-05      145.69             5.44  3.73
2020-03-10      105.97             5.44  5.13
2018-11-12       93.85             5.44  5.80
2018-10-30       91.97             5.44  5.91
2018-10-29       91.82             5.44  5.92