# Analysis Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-AAPL.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Waterfall Analysis

In [2]:
grow_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
grow_df['Cash'] = grow_df['CashEquivalents'] + grow_df['MarketSecurities']
grow_df

,Revenue,CashEquivalents,MarketSecurities,SharesOutBasic,SharesOutDiluted,CashForDividends,Cash
FiscalYear,,,,,,,
1984,1515.900,114.900,0.00,13294.815,13294.815,0.000,114.900
1985,1918.300,337.000,0.00,13708.800,13708.800,0.000,337.000
1986,1901.900,576.200,0.00,14373.333,14373.333,0.000,576.200
1987,2661.100,565.100,0.00,14674.699,14674.699,0.000,565.100
1988,4071.400,545.700,0.00,14556.364,14556.364,0.000,545.700
1989,5284.000,438.300,0.00,14363.842,14363.842,-50.300,438.300
1990,5558.400,374.700,0.00,14071.111,14071.111,-53.800,374.700
1991,6308.800,604.100,0.00,13448.682,13448.682,-56.500,604.100
1992,7086.542,498.600,0.00,13718.880,13729.632,-57.196,498.600
1993,7977.000,676.413,215.89,13342.000,13424.000,-56.000,892.303
1994,9189.000,1203.000,55.00,13298.320,13298.320,-56.000,1258.000
1995,11062.000,756.000,196.00,13781.264,13781.264,-58.000,952.000
1996,9833.000,1552.000,193.00,13858.208,13858.208,-14.000,1745.000
1997,7081.000,1230.000,229.00,14118.944,14118.944,0.000,1459.000
1998,5941.000,1481.000,819.00,14781.088,18806.704,0.000,2300.000
1999,6134.000,1326.000,1900.00,16033.584,19506.368,0.000,3226.000
2000,7983.000,1191.000,2836.00,18175.808,20178.144,0.000,4027.000
2001,5363.000,2310.000,2026.00,19354.328,19354.328,0.000,4336.000
2002,5742.000,2252.000,2085.00,19881.232,20259.960,0.000,4337.000
2003,6207.000,3396.000,1170.00,20195.336,20354.096,0.000,4566.000
2004,8279.000,2969.000,2495.00,20809.040,21693.728,0.000,5464.000
2005,13931.000,3491.000,4770.00,22636.292,23992.584,0.000,8261.000
2006,19315.000,6392.000,3718.00,23633.624,24570.728,0.000,10110.000
2007,24578.000,9352.000,6034.00,24208.660,24900.176,0.000,15386.000
2008,37491.000,11875.000,10236.00,24684.576,25259.892,0.000,22111.000
2009,42905.000,5263.000,18201.00,25004.448,25396.140,0.000,23464.000
2010,65225.000,11261.000,14359.00,25464.908,25891.936,0.000,25620.000
2011,108249.000,9815.000,16137.00,25879.224,26226.060,0.000,25952.000
2012,156508.000,10746.000,18383.00,26174.904,26469.932,-2488.000,29129.000
2013,170910.000,14259.000,26287.00,25909.280,26086.536,-10564.000,40546.000
2014,182795.000,13844.000,11233.00,24342.288,24490.652,-11126.000,25077.000
2015,233715.000,21120.000,20481.00,23013.684,23172.276,-11561.000,41601.000
2016,215639.000,20484.000,46671.00,21883.280,22001.124,-12150.000,67155.000
2017,229234.000,20289.000,53892.00,20868.968,21006.768,-12769.000,74181.000
2018,265595.000,25913.000,40388.00,19821.510,20000.435,-13712.000,66301.000
2019,260174.000,48844.000,51713.00,18471.336,18595.651,-14119.000,100557.000
2020,274515.000,38016.000,52927.00,17352.119,17528.214,-14081.000,90943.000
2021,365817.000,34940.000,27699.00,16701.272,16864.919,-14467.000,62639.000
2022,394328.000,23646.000,24658.00,16215.963,16325.819,-14841.000,48304.000
2023,383285.000,29965.000,31590.00,15744.231,15812.547,-15025.000,61555.000

In [3]:
rev_s = pd.Series(grow_df['Revenue'])
rev_pc_s = round(rev_s.pct_change() * 100, 2)
rev_dict = {'Revenue' : rev_s, 'PercentChange' : rev_pc_s}

rev_df = pd.DataFrame(rev_dict)
rev_df_10 = rev_df[rev_df.index > year10]
rev_df_5 = rev_df[rev_df.index > year5]
rev_df_3 = rev_df[rev_df.index > year3]

rev_mn_10 = round(rev_df_10['PercentChange'].mean(), 2)
rev_mn_5 = round(rev_df_5['PercentChange'].mean(), 2)
rev_mn_3 = round(rev_df_3['PercentChange'].mean(), 2)


print(f'Ten Year Average Revenue Growth: {rev_mn_10}%')
print(f'Five Year Average Revenue Growth: {rev_mn_5}%')
print(f'Three Year Average Revenue Growth: {rev_mn_3}%')


rev_df

Ten Year Average Revenue Growth: 9.1%
Five Year Average Revenue Growth: 8.34%
Three Year Average Revenue Growth: 12.75%

               Revenue  PercentChange
FiscalYear
1984          1515.900            NaN
1985          1918.300          26.55
1986          1901.900          -0.85
1987          2661.100          39.92
1988          4071.400          53.00
1989          5284.000          29.78
1990          5558.400           5.19
1991          6308.800          13.50
1992          7086.542          12.33
1993          7977.000          12.57
1994          9189.000          15.19
1995         11062.000          20.38
1996          9833.000         -11.11
1997          7081.000         -27.99
1998          5941.000         -16.10
1999          6134.000           3.25
2000          7983.000          30.14
2001          5363.000         -32.82
2002          5742.000           7.07
2003          6207.000           8.10
2004          8279.000          33.38
2005         13931.000          68.27
2006         19315.000          38.65
2007         24578.000          27.25
2008         37491.000          52.54
2009         42905.000          14.44
2010         65225.000          52.02
2011        108249.000          65.96
2012        156508.000          44.58
2013        170910.000           9.20
2014        182795.000           6.95
2015        233715.000          27.86
2016        215639.000          -7.73
2017        229234.000           6.30
2018        265595.000          15.86
2019        260174.000          -2.04
2020        274515.000           5.51
2021        365817.000          33.26
2022        394328.000           7.79
2023        383285.000          -2.80

# Cash On Hand Growth

In [4]:
cash_s = pd.Series(grow_df['Cash'])
cash_pc_s = round(cash_s.pct_change() * 100, 2)
cash_dict = {'Cash' : cash_s, 'PercentChange' : cash_pc_s}

cash_df = pd.DataFrame(cash_dict)

cash_df

                  Cash  PercentChange
FiscalYear
1984           114.900            NaN
1985           337.000         193.30
1986           576.200          70.98
1987           565.100          -1.93
1988           545.700          -3.43
1989           438.300         -19.68
1990           374.700         -14.51
1991           604.100          61.22
1992           498.600         -17.46
1993           892.303          78.96
1994          1258.000          40.98
1995           952.000         -24.32
1996          1745.000          83.30
1997          1459.000         -16.39
1998          2300.000          57.64
1999          3226.000          40.26
2000          4027.000          24.83
2001          4336.000           7.67
2002          4337.000           0.02
2003          4566.000           5.28
2004          5464.000          19.67
2005          8261.000          51.19
2006         10110.000          22.38
2007         15386.000          52.19
2008         22111.000          43.71
2009         23464.000           6.12
2010         25620.000           9.19
2011         25952.000           1.30
2012         29129.000          12.24
2013         40546.000          39.19
2014         25077.000         -38.15
2015         41601.000          65.89
2016         67155.000          61.43
2017         74181.000          10.46
2018         66301.000         -10.62
2019        100557.000          51.67
2020         90943.000          -9.56
2021         62639.000         -31.12
2022         48304.000         -22.89
2023         61555.000          27.43

# Shares Outstanding

In [5]:
share_s = pd.Series(grow_df['SharesOutDiluted'])
share_pc_s = round(share_s.pct_change() * 100, 2)
share_dict = {'SharesOutDiluted' : share_s, 'PercentChange' : share_pc_s}

share_df = pd.DataFrame(share_dict)

share_df_10 = share_df[share_df.index > year10]
share_df_5 = share_df[share_df.index > year5]
share_df_3 = share_df[share_df.index > year3]

share_mn_10 = round(share_df_10['PercentChange'].mean(), 2)
share_mn_5 = round(share_df_5['PercentChange'].mean(), 2)
share_mn_3 = round(share_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Share Growth: {share_mn_10}%')
print(f'Five Year Average Share Growth: {share_mn_5}%')
print(f'Three Year Average Share Growth: {share_mn_3}%')

share_df

Ten YearAverage Share Growth: -4.87%
Five Year Average Share Growth: -4.58%
Three Year Average Share Growth: -3.37%

            SharesOutDiluted  PercentChange
FiscalYear
1984               13294.815            NaN
1985               13708.800           3.11
1986               14373.333           4.85
1987               14674.699           2.10
1988               14556.364          -0.81
1989               14363.842          -1.32
1990               14071.111          -2.04
1991               13448.682          -4.42
1992               13729.632           2.09
1993               13424.000          -2.23
1994               13298.320          -0.94
1995               13781.264           3.63
1996               13858.208           0.56
1997               14118.944           1.88
1998               18806.704          33.20
1999               19506.368           3.72
2000               20178.144           3.44
2001               19354.328          -4.08
2002               20259.960           4.68
2003               20354.096           0.46
2004               21693.728           6.58
2005               23992.584          10.60
2006               24570.728           2.41
2007               24900.176           1.34
2008               25259.892           1.44
2009               25396.140           0.54
2010               25891.936           1.95
2011               26226.060           1.29
2012               26469.932           0.93
2013               26086.536          -1.45
2014               24490.652          -6.12
2015               23172.276          -5.38
2016               22001.124          -5.05
2017               21006.768          -4.52
2018               20000.435          -4.79
2019               18595.651          -7.02
2020               17528.214          -5.74
2021               16864.919          -3.78
2022               16325.819          -3.20
2023               15812.547          -3.14

# Dividend Growth

In [6]:
div_s = pd.Series(grow_df['CashForDividends'].abs())
div_pc_s = round(div_s.pct_change() * 100, 2)
div_dict = {'CashForDividends' : div_s, 'PercentChange' : div_pc_s}

div_df = pd.DataFrame(div_dict)

div_df_10 = div_df[div_df.index > year10]
div_df_5 = div_df[div_df.index > year5]
div_df_3 = div_df[div_df.index > year3]

div_mn_10 = round(div_df_10['PercentChange'].mean(), 2)
div_mn_5 = round(div_df_5['PercentChange'].mean(), 2)
div_mn_3 = round(div_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Dividend Growth: {div_mn_10}%')
print(f'Five Year Average Dividend Growth: {div_mn_5}%')
print(f'Three Year Average Dividend Growth: {div_mn_3}%')

div_df

Ten YearAverage Dividend Growth: 3.61%
Five Year Average Dividend Growth: 1.85%
Three Year Average Dividend Growth: 2.19%

            CashForDividends  PercentChange
FiscalYear
1984                   0.000            NaN
1985                   0.000            NaN
1986                   0.000            NaN
1987                   0.000            NaN
1988                   0.000            NaN
1989                  50.300            inf
1990                  53.800           6.96
1991                  56.500           5.02
1992                  57.196           1.23
1993                  56.000          -2.09
1994                  56.000           0.00
1995                  58.000           3.57
1996                  14.000         -75.86
1997                   0.000        -100.00
1998                   0.000            NaN
1999                   0.000            NaN
2000                   0.000            NaN
2001                   0.000            NaN
2002                   0.000            NaN
2003                   0.000            NaN
2004                   0.000            NaN
2005                   0.000            NaN
2006                   0.000            NaN
2007                   0.000            NaN
2008                   0.000            NaN
2009                   0.000            NaN
2010                   0.000            NaN
2011                   0.000            NaN
2012                2488.000            inf
2013               10564.000         324.60
2014               11126.000           5.32
2015               11561.000           3.91
2016               12150.000           5.09
2017               12769.000           5.09
2018               13712.000           7.39
2019               14119.000           2.97
2020               14081.000          -0.27
2021               14467.000           2.74
2022               14841.000           2.59
2023               15025.000           1.24