# Analysis Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-LYB.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Waterfall Analysis

In [2]:
grow_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
grow_df['Cash'] = grow_df['CashEquivalents'] + grow_df['MarketSecurities']
grow_df

,Revenue,CashEquivalents,MarketSecurities,SharesOutBasic,SharesOutDiluted,CashForDividends,Cash
FiscalYear,,,,,,,
2007,17120.0,0.0,0.0,564.0,564.0,-522.0,0.0
2008,50706.0,858.0,32.0,564.0,564.0,0.0,890.0
2009,30828.0,558.0,11.0,564.0,564.0,0.0,569.0
2010,41151.0,4222.0,0.0,564.0,566.0,0.0,4222.0
2011,48183.0,1065.0,0.0,568.0,572.0,-2893.0,1065.0
2012,45352.0,2732.0,0.0,573.0,577.0,-2415.0,2732.0
2013,44062.0,4450.0,0.0,566.0,570.0,-1127.0,4450.0
2014,45608.0,1031.0,1593.0,518.0,521.0,-1403.0,2624.0
2015,32735.0,924.0,1064.0,465.0,466.0,-1410.0,1988.0
2016,29183.0,875.0,1147.0,419.0,420.0,-1395.0,2022.0
2017,34484.0,1523.0,1307.0,398.0,399.0,-1415.0,2830.0
2018,39004.0,332.0,892.0,389.0,389.0,-1554.0,1224.0
2019,34727.0,858.0,196.0,353.0,353.0,-1462.0,1054.0
2020,27753.0,1763.0,702.0,334.0,334.0,-1405.0,2465.0
2021,46173.0,1472.0,9.0,334.0,334.0,-1486.0,1481.0
2022,50451.0,2151.0,0.0,327.0,328.0,-3246.0,2151.0
2023,41107.0,3390.0,0.0,325.0,326.0,-1610.0,3390.0

In [3]:
rev_s = pd.Series(grow_df['Revenue'])
rev_pc_s = round(rev_s.pct_change() * 100, 2)
rev_dict = {'Revenue' : rev_s, 'PercentChange' : rev_pc_s}

rev_df = pd.DataFrame(rev_dict)
rev_df_10 = rev_df[rev_df.index > year10]
rev_df_5 = rev_df[rev_df.index > year5]
rev_df_3 = rev_df[rev_df.index > year3]

rev_mn_10 = round(rev_df_10['PercentChange'].mean(), 2)
rev_mn_5 = round(rev_df_5['PercentChange'].mean(), 2)
rev_mn_3 = round(rev_df_3['PercentChange'].mean(), 2)


print(f'Ten Year Average Revenue Growth: {rev_mn_10}%')
print(f'Five Year Average Revenue Growth: {rev_mn_5}%')
print(f'Three Year Average Revenue Growth: {rev_mn_3}%')


rev_df

Ten Year Average Revenue Growth: 2.18%
Five Year Average Revenue Growth: 5.21%
Three Year Average Revenue Growth: 19.04%

            Revenue  PercentChange
FiscalYear
2007        17120.0            NaN
2008        50706.0         196.18
2009        30828.0         -39.20
2010        41151.0          33.49
2011        48183.0          17.09
2012        45352.0          -5.88
2013        44062.0          -2.84
2014        45608.0           3.51
2015        32735.0         -28.23
2016        29183.0         -10.85
2017        34484.0          18.16
2018        39004.0          13.11
2019        34727.0         -10.97
2020        27753.0         -20.08
2021        46173.0          66.37
2022        50451.0           9.27
2023        41107.0         -18.52

# Cash On Hand Growth

In [4]:
cash_s = pd.Series(grow_df['Cash'])
cash_pc_s = round(cash_s.pct_change() * 100, 2)
cash_dict = {'Cash' : cash_s, 'PercentChange' : cash_pc_s}

cash_df = pd.DataFrame(cash_dict)

cash_df

              Cash  PercentChange
FiscalYear
2007           0.0            NaN
2008         890.0            inf
2009         569.0         -36.07
2010        4222.0         642.00
2011        1065.0         -74.77
2012        2732.0         156.53
2013        4450.0          62.88
2014        2624.0         -41.03
2015        1988.0         -24.24
2016        2022.0           1.71
2017        2830.0          39.96
2018        1224.0         -56.75
2019        1054.0         -13.89
2020        2465.0         133.87
2021        1481.0         -39.92
2022        2151.0          45.24
2023        3390.0          57.60

# Shares Outstanding

In [5]:
share_s = pd.Series(grow_df['SharesOutDiluted'])
share_pc_s = round(share_s.pct_change() * 100, 2)
share_dict = {'SharesOutDiluted' : share_s, 'PercentChange' : share_pc_s}

share_df = pd.DataFrame(share_dict)

share_df_10 = share_df[share_df.index > year10]
share_df_5 = share_df[share_df.index > year5]
share_df_3 = share_df[share_df.index > year3]

share_mn_10 = round(share_df_10['PercentChange'].mean(), 2)
share_mn_5 = round(share_df_5['PercentChange'].mean(), 2)
share_mn_3 = round(share_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Share Growth: {share_mn_10}%')
print(f'Five Year Average Share Growth: {share_mn_5}%')
print(f'Three Year Average Share Growth: {share_mn_3}%')

share_df

Ten YearAverage Share Growth: -5.36%
Five Year Average Share Growth: -3.41%
Three Year Average Share Growth: -0.8%

            SharesOutDiluted  PercentChange
FiscalYear
2007                   564.0            NaN
2008                   564.0           0.00
2009                   564.0           0.00
2010                   566.0           0.35
2011                   572.0           1.06
2012                   577.0           0.87
2013                   570.0          -1.21
2014                   521.0          -8.60
2015                   466.0         -10.56
2016                   420.0          -9.87
2017                   399.0          -5.00
2018                   389.0          -2.51
2019                   353.0          -9.25
2020                   334.0          -5.38
2021                   334.0           0.00
2022                   328.0          -1.80
2023                   326.0          -0.61

# Dividend Growth

In [6]:
div_s = pd.Series(grow_df['CashForDividends'].abs())
div_pc_s = round(div_s.pct_change() * 100, 2)
div_dict = {'CashForDividends' : div_s, 'PercentChange' : div_pc_s}

div_df = pd.DataFrame(div_dict)

div_df_10 = div_df[div_df.index > year10]
div_df_5 = div_df[div_df.index > year5]
div_df_3 = div_df[div_df.index > year3]

div_mn_10 = round(div_df_10['PercentChange'].mean(), 2)
div_mn_5 = round(div_df_5['PercentChange'].mean(), 2)
div_mn_3 = round(div_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Dividend Growth: {div_mn_10}%')
print(f'Five Year Average Dividend Growth: {div_mn_5}%')
print(f'Three Year Average Dividend Growth: {div_mn_3}%')

div_df

Ten YearAverage Dividend Growth: 9.92%
Five Year Average Dividend Growth: 12.8%
Three Year Average Dividend Growth: 24.6%

            CashForDividends  PercentChange
FiscalYear
2007                   522.0            NaN
2008                     0.0        -100.00
2009                     0.0            NaN
2010                     0.0            NaN
2011                  2893.0            inf
2012                  2415.0         -16.52
2013                  1127.0         -53.33
2014                  1403.0          24.49
2015                  1410.0           0.50
2016                  1395.0          -1.06
2017                  1415.0           1.43
2018                  1554.0           9.82
2019                  1462.0          -5.92
2020                  1405.0          -3.90
2021                  1486.0           5.77
2022                  3246.0         118.44
2023                  1610.0         -50.40