# Analysis of Debt

In [1]:
import pandas as pd
import datetime

Debt_Data_Fy = 'Data_Debt_Fy-LYB.csv'
today = datetime.date.today()

# Waterfall Analysis

In [2]:
debt_df = pd.read_csv(Debt_Data_Fy,index_col='FiscalYear')

debt_df

,Revenue,CashFromOperations,FreeCashFlow,CashEquivalents,MarketSecurities,TreasuryStock,CurrentAssets,LongAssets,CurrentLiabilities,LongLiabilities,CashPaidToDebt
FiscalYear,,,,,,,,,,,
2007,17120.0,1180.0,769.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9249.0
2008,50706.0,1090.0,90.0,858.0,32.0,0.0,7438.0,21213.0,28601.0,5996.0,-391.0
2009,30828.0,-787.0,-1566.0,558.0,11.0,0.0,8252.0,19509.0,10367.0,26241.0,-1238.0
2010,41151.0,2021.0,1329.0,4222.0,0.0,0.0,13779.0,11715.0,4756.0,9142.0,-3678.0
2011,48183.0,2860.0,1810.0,1065.0,0.0,-124.0,11435.0,11404.0,5018.0,7174.0,-3063.0
2012,45352.0,4787.0,3727.0,2732.0,0.0,-106.0,12286.0,11934.0,5096.0,7945.0,-2679.0
2013,44062.0,4835.0,3274.0,4450.0,0.0,-2035.0,14599.0,12699.0,5510.0,9274.0,0.0
2014,45608.0,6048.0,4549.0,1031.0,1593.0,-7853.0,11645.0,12576.0,5437.0,10440.0,0.0
2015,32735.0,5842.0,4402.0,924.0,1064.0,-12086.0,9789.0,12968.0,4349.0,11834.0,0.0
2016,29183.0,5606.0,3363.0,875.0,1147.0,-14945.0,9599.0,13843.0,4540.0,12829.0,0.0
2017,34484.0,5206.0,3659.0,1523.0,1307.0,-15749.0,11738.0,14468.0,4777.0,12479.0,-1493.0
2018,39004.0,5471.0,3366.0,332.0,892.0,-2206.0,10566.0,17712.0,5513.0,12369.0,-394.0
2019,34727.0,4961.0,2267.0,858.0,196.0,-580.0,9510.0,20925.0,5198.0,17058.0,-5049.0
2020,27753.0,3404.0,1457.0,1763.0,702.0,-531.0,11634.0,23769.0,5502.0,21797.0,-3386.0
2021,46173.0,7695.0,5736.0,1472.0,9.0,-965.0,12217.0,24525.0,7230.0,17524.0,-4221.0
2022,50451.0,6119.0,4229.0,2151.0,0.0,-1346.0,11845.0,24520.0,6760.0,16862.0,-4.0
2023,41107.0,4942.0,3411.0,3390.0,0.0,-1450.0,13152.0,23848.0,7150.0,16792.0,-625.0

# Current Ratio

In [3]:
current_df = debt_df[['CurrentAssets', 'CurrentLiabilities']]
current_df['CurrentRatio'] = round(current_df['CurrentAssets'] / current_df['CurrentLiabilities'], 2)

current_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_5509/1238901110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_df['CurrentRatio'] = round(current_df['CurrentAssets'] / current_df['CurrentLiabilities'], 2)

            CurrentAssets  CurrentLiabilities  CurrentRatio
FiscalYear
2007                  0.0                 0.0           NaN
2008               7438.0             28601.0          0.26
2009               8252.0             10367.0          0.80
2010              13779.0              4756.0          2.90
2011              11435.0              5018.0          2.28
2012              12286.0              5096.0          2.41
2013              14599.0              5510.0          2.65
2014              11645.0              5437.0          2.14
2015               9789.0              4349.0          2.25
2016               9599.0              4540.0          2.11
2017              11738.0              4777.0          2.46
2018              10566.0              5513.0          1.92
2019               9510.0              5198.0          1.83
2020              11634.0              5502.0          2.11
2021              12217.0              7230.0          1.69
2022              11845.0              6760.0          1.75
2023              13152.0              7150.0          1.84

# Cash on Hand to Debt

In [4]:
ctd_df = debt_df[['CashEquivalents', 'MarketSecurities', 'TreasuryStock', 'CurrentAssets', 'CurrentLiabilities', 'LongLiabilities']]
ctd_df['CashOnHand'] = ctd_df['CashEquivalents'] + ctd_df['MarketSecurities']
ctd_df = ctd_df.drop('CashEquivalents', axis=1)
ctd_df = ctd_df.drop('MarketSecurities', axis=1)
ctd_df['TreasuryStock'] = ctd_df['TreasuryStock'].abs()
ctd_df['DebtCushion'] = (ctd_df['CashOnHand'] + ctd_df['CurrentAssets'] - ctd_df['CurrentLiabilities']) / ctd_df['LongLiabilities']
ctd_df = ctd_df.reindex(columns=['TreasuryStock', 'CashOnHand', 'CurrentAssets', 'CurrentLiabilities', 'LongLiabilities', 'DebtCushion'])


ctd_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_5509/2485566442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ctd_df['CashOnHand'] = ctd_df['CashEquivalents'] + ctd_df['MarketSecurities']

,TreasuryStock,CashOnHand,CurrentAssets,CurrentLiabilities,LongLiabilities,DebtCushion
FiscalYear,,,,,,
2007,0.0,0.0,0.0,0.0,0.0,NaN
2008,0.0,890.0,7438.0,28601.0,5996.0,-3.381087
2009,0.0,569.0,8252.0,10367.0,26241.0,-0.058915
2010,0.0,4222.0,13779.0,4756.0,9142.0,1.448808
2011,124.0,1065.0,11435.0,5018.0,7174.0,1.042933
2012,106.0,2732.0,12286.0,5096.0,7945.0,1.248836
2013,2035.0,4450.0,14599.0,5510.0,9274.0,1.459888
2014,7853.0,2624.0,11645.0,5437.0,10440.0,0.845977
2015,12086.0,1988.0,9789.0,4349.0,11834.0,0.627683
2016,14945.0,2022.0,9599.0,4540.0,12829.0,0.551953
2017,15749.0,2830.0,11738.0,4777.0,12479.0,0.784598
2018,2206.0,1224.0,10566.0,5513.0,12369.0,0.507478
2019,580.0,1054.0,9510.0,5198.0,17058.0,0.314574
2020,531.0,2465.0,11634.0,5502.0,21797.0,0.394412
2021,965.0,1481.0,12217.0,7230.0,17524.0,0.369094
2022,1346.0,2151.0,11845.0,6760.0,16862.0,0.429131
2023,1450.0,3390.0,13152.0,7150.0,16792.0,0.559314

# Debt Pay Down

In [5]:
pay_df = ctd_df[['CashOnHand', 'CurrentAssets', 'CurrentLiabilities', 'LongLiabilities']]
pay_df['FCF'] = debt_df['FreeCashFlow']
pay_df['TotalCash'] = pay_df['CurrentAssets'] + pay_df['CashOnHand'] + pay_df['FCF']
pay_df['TotalDebt'] = pay_df['CurrentLiabilities'] + pay_df['LongLiabilities']
pay_df = pay_df.reindex(columns=['FCF', 'CashOnHand', 'CurrentAssets', 'TotalCash', 'CurrentLiabilities', 'LongLiabilities', 'TotalDebt'])
pay_df['Leverage'] = round(pay_df['TotalDebt'] / pay_df['TotalCash'], 2)


pay_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_5509/401510080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_df['FCF'] = debt_df['FreeCashFlow']

,FCF,CashOnHand,CurrentAssets,TotalCash,CurrentLiabilities,LongLiabilities,TotalDebt,Leverage
FiscalYear,,,,,,,,
2007,769.0,0.0,0.0,769.0,0.0,0.0,0.0,0.00
2008,90.0,890.0,7438.0,8418.0,28601.0,5996.0,34597.0,4.11
2009,-1566.0,569.0,8252.0,7255.0,10367.0,26241.0,36608.0,5.05
2010,1329.0,4222.0,13779.0,19330.0,4756.0,9142.0,13898.0,0.72
2011,1810.0,1065.0,11435.0,14310.0,5018.0,7174.0,12192.0,0.85
2012,3727.0,2732.0,12286.0,18745.0,5096.0,7945.0,13041.0,0.70
2013,3274.0,4450.0,14599.0,22323.0,5510.0,9274.0,14784.0,0.66
2014,4549.0,2624.0,11645.0,18818.0,5437.0,10440.0,15877.0,0.84
2015,4402.0,1988.0,9789.0,16179.0,4349.0,11834.0,16183.0,1.00
2016,3363.0,2022.0,9599.0,14984.0,4540.0,12829.0,17369.0,1.16
2017,3659.0,2830.0,11738.0,18227.0,4777.0,12479.0,17256.0,0.95
2018,3366.0,1224.0,10566.0,15156.0,5513.0,12369.0,17882.0,1.18
2019,2267.0,1054.0,9510.0,12831.0,5198.0,17058.0,22256.0,1.73
2020,1457.0,2465.0,11634.0,15556.0,5502.0,21797.0,27299.0,1.75
2021,5736.0,1481.0,12217.0,19434.0,7230.0,17524.0,24754.0,1.27
2022,4229.0,2151.0,11845.0,18225.0,6760.0,16862.0,23622.0,1.30
2023,3411.0,3390.0,13152.0,19953.0,7150.0,16792.0,23942.0,1.20

# Debt to Revenue Margins

In [6]:
dmar_df = debt_df[['Revenue', 'CurrentLiabilities', 'LongLiabilities']]
dmar_df['CurrentMargin'] = round(dmar_df['CurrentLiabilities'] / dmar_df['Revenue'], 2)
dmar_df['LongMargin'] = round(dmar_df['LongLiabilities'] / dmar_df['Revenue'], 2)

dmar_df

/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_5509/3824370074.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmar_df['CurrentMargin'] = round(dmar_df['CurrentLiabilities'] / dmar_df['Revenue'], 2)
/var/folders/j5/3jkv197574n0l3hvczkvmbw00000gn/T/ipykernel_5509/3824370074.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmar_df['LongMargin'] = round(dmar_df['LongLiabilities'] / dmar_df['Revenue'], 2)

,Revenue,CurrentLiabilities,LongLiabilities,CurrentMargin,LongMargin
FiscalYear,,,,,
2007,17120.0,0.0,0.0,0.00,0.00
2008,50706.0,28601.0,5996.0,0.56,0.12
2009,30828.0,10367.0,26241.0,0.34,0.85
2010,41151.0,4756.0,9142.0,0.12,0.22
2011,48183.0,5018.0,7174.0,0.10,0.15
2012,45352.0,5096.0,7945.0,0.11,0.18
2013,44062.0,5510.0,9274.0,0.13,0.21
2014,45608.0,5437.0,10440.0,0.12,0.23
2015,32735.0,4349.0,11834.0,0.13,0.36
2016,29183.0,4540.0,12829.0,0.16,0.44
2017,34484.0,4777.0,12479.0,0.14,0.36
2018,39004.0,5513.0,12369.0,0.14,0.32
2019,34727.0,5198.0,17058.0,0.15,0.49
2020,27753.0,5502.0,21797.0,0.20,0.79
2021,46173.0,7230.0,17524.0,0.16,0.38
2022,50451.0,6760.0,16862.0,0.13,0.33
2023,41107.0,7150.0,16792.0,0.17,0.41