# Analysis Growth

In [1]:
import pandas as pd
import datetime

Grow_Data_Fy = 'Data_Growth_Fy-TXN.csv'
today = datetime.date.today()
year10 = today.year - 11
year5 = today.year - 6
year3 = today.year - 4

# Waterfall Analysis

In [2]:
grow_df = pd.read_csv(Grow_Data_Fy,index_col='FiscalYear')
grow_df['Cash'] = grow_df['CashEquivalents'] + grow_df['MarketSecurities']
grow_df

,Revenue,CashEquivalents,MarketSecurities,SharesOutBasic,SharesOutDiluted,CashForDividends,Cash
FiscalYear,,,,,,,
1984,5741.6,274.4,0.0,1128.571,1128.571,0.0,274.4
1985,4924.5,158.8,0.0,1187.000,1187.000,0.0,158.8
1986,4974.0,214.4,0.0,946.667,946.667,0.0,214.4
1987,5594.5,662.6,0.0,1272.105,1272.105,0.0,662.6
1988,6294.8,780.4,0.0,1291.923,1291.923,0.0,780.4
1989,6521.9,418.2,0.0,1331.579,1331.579,-97.3,418.2
1990,6567.0,403.0,0.0,1250.000,1250.000,-94.0,403.0
1991,6784.0,452.0,0.0,1302.941,1302.941,-90.0,452.0
1992,7440.0,356.0,0.0,1312.500,1312.500,-98.0,356.0
1993,8523.0,404.0,484.0,1375.200,1497.696,-86.0,888.0
1994,8608.0,760.0,530.0,1472.992,1526.992,-79.0,1290.0
1995,11409.0,1364.0,189.0,1501.152,1549.048,-111.0,1553.0
1996,9940.0,964.0,14.0,1517.552,1517.552,-129.0,978.0
1997,9972.0,1015.0,2005.0,1540.564,1590.908,-131.0,3020.0
1998,8875.0,632.0,1709.0,1738.462,1772.549,-133.0,2341.0
1999,9759.0,781.0,2045.0,1687.209,1748.193,-134.0,2826.0
2000,11875.0,745.0,3258.0,1717.978,1788.304,-141.0,4003.0
2001,8201.0,431.0,2513.0,1675.000,1675.000,-147.0,2944.0
2002,8383.0,949.0,2063.0,1720.000,1720.000,-147.0,3012.0
2003,9834.0,1818.0,2511.0,1932.258,1996.667,-147.0,4329.0
2004,11552.0,2668.0,3690.0,1730.000,1768.000,-154.0,6358.0
2005,12335.0,1214.0,4116.0,1640.000,1671.000,-173.0,5330.0
2006,14255.0,1183.0,2534.0,1528.000,1560.000,-199.0,3717.0
2007,13835.0,1328.0,1596.0,1417.000,1446.000,-425.0,2924.0
2008,12501.0,1046.0,1494.0,1308.000,1321.000,-537.0,2540.0
2009,10427.0,1182.0,1743.0,1260.000,1269.000,-567.0,2925.0
2010,13966.0,1319.0,1753.0,1199.000,1213.000,-592.0,3072.0
2011,13735.0,992.0,1943.0,1151.000,1171.000,-644.0,2935.0
2012,12825.0,1416.0,2549.0,1132.000,1146.000,-819.0,3965.0
2013,12205.0,1627.0,2202.0,1098.000,1113.000,-1175.0,3829.0
2014,13045.0,1199.0,2342.0,1065.000,1080.000,-1323.0,3541.0
2015,13000.0,1000.0,2218.0,1030.000,1043.000,-1444.0,3218.0
2016,13370.0,1154.0,2336.0,1003.000,1021.000,-1646.0,3490.0
2017,14961.0,1656.0,2813.0,991.000,1012.000,-2104.0,4469.0
2018,15784.0,2438.0,1795.0,970.000,990.000,-2555.0,4233.0
2019,14383.0,2437.0,2950.0,936.000,952.000,-3008.0,5387.0
2020,14461.0,3107.0,3461.0,921.000,933.000,-3426.0,6568.0
2021,18344.0,4631.0,5108.0,923.000,936.000,-3886.0,9739.0
2022,20028.0,3050.0,6017.0,916.000,926.000,-4297.0,9067.0
2023,17519.0,2964.0,5611.0,908.000,916.000,-4557.0,8575.0

In [3]:
rev_s = pd.Series(grow_df['Revenue'])
rev_pc_s = round(rev_s.pct_change() * 100, 2)
rev_dict = {'Revenue' : rev_s, 'PercentChange' : rev_pc_s}

rev_df = pd.DataFrame(rev_dict)
rev_df_10 = rev_df[rev_df.index > year10]
rev_df_5 = rev_df[rev_df.index > year5]
rev_df_3 = rev_df[rev_df.index > year3]

rev_mn_10 = round(rev_df_10['PercentChange'].mean(), 2)
rev_mn_5 = round(rev_df_5['PercentChange'].mean(), 2)
rev_mn_3 = round(rev_df_3['PercentChange'].mean(), 2)


print(f'Ten Year Average Revenue Growth: {rev_mn_10}%')
print(f'Five Year Average Revenue Growth: {rev_mn_5}%')
print(f'Three Year Average Revenue Growth: {rev_mn_3}%')


rev_df

Ten Year Average Revenue Growth: 4.19%
Five Year Average Revenue Growth: 3.03%
Three Year Average Revenue Growth: 7.83%

            Revenue  PercentChange
FiscalYear
1984         5741.6            NaN
1985         4924.5         -14.23
1986         4974.0           1.01
1987         5594.5          12.47
1988         6294.8          12.52
1989         6521.9           3.61
1990         6567.0           0.69
1991         6784.0           3.30
1992         7440.0           9.67
1993         8523.0          14.56
1994         8608.0           1.00
1995        11409.0          32.54
1996         9940.0         -12.88
1997         9972.0           0.32
1998         8875.0         -11.00
1999         9759.0           9.96
2000        11875.0          21.68
2001         8201.0         -30.94
2002         8383.0           2.22
2003         9834.0          17.31
2004        11552.0          17.47
2005        12335.0           6.78
2006        14255.0          15.57
2007        13835.0          -2.95
2008        12501.0          -9.64
2009        10427.0         -16.59
2010        13966.0          33.94
2011        13735.0          -1.65
2012        12825.0          -6.63
2013        12205.0          -4.83
2014        13045.0           6.88
2015        13000.0          -0.34
2016        13370.0           2.85
2017        14961.0          11.90
2018        15784.0           5.50
2019        14383.0          -8.88
2020        14461.0           0.54
2021        18344.0          26.85
2022        20028.0           9.18
2023        17519.0         -12.53

# Cash On Hand Growth

In [4]:
cash_s = pd.Series(grow_df['Cash'])
cash_pc_s = round(cash_s.pct_change() * 100, 2)
cash_dict = {'Cash' : cash_s, 'PercentChange' : cash_pc_s}

cash_df = pd.DataFrame(cash_dict)

cash_df

              Cash  PercentChange
FiscalYear
1984         274.4            NaN
1985         158.8         -42.13
1986         214.4          35.01
1987         662.6         209.05
1988         780.4          17.78
1989         418.2         -46.41
1990         403.0          -3.63
1991         452.0          12.16
1992         356.0         -21.24
1993         888.0         149.44
1994        1290.0          45.27
1995        1553.0          20.39
1996         978.0         -37.03
1997        3020.0         208.79
1998        2341.0         -22.48
1999        2826.0          20.72
2000        4003.0          41.65
2001        2944.0         -26.46
2002        3012.0           2.31
2003        4329.0          43.73
2004        6358.0          46.87
2005        5330.0         -16.17
2006        3717.0         -30.26
2007        2924.0         -21.33
2008        2540.0         -13.13
2009        2925.0          15.16
2010        3072.0           5.03
2011        2935.0          -4.46
2012        3965.0          35.09
2013        3829.0          -3.43
2014        3541.0          -7.52
2015        3218.0          -9.12
2016        3490.0           8.45
2017        4469.0          28.05
2018        4233.0          -5.28
2019        5387.0          27.26
2020        6568.0          21.92
2021        9739.0          48.28
2022        9067.0          -6.90
2023        8575.0          -5.43

# Shares Outstanding

In [5]:
share_s = pd.Series(grow_df['SharesOutDiluted'])
share_pc_s = round(share_s.pct_change() * 100, 2)
share_dict = {'SharesOutDiluted' : share_s, 'PercentChange' : share_pc_s}

share_df = pd.DataFrame(share_dict)

share_df_10 = share_df[share_df.index > year10]
share_df_5 = share_df[share_df.index > year5]
share_df_3 = share_df[share_df.index > year3]

share_mn_10 = round(share_df_10['PercentChange'].mean(), 2)
share_mn_5 = round(share_df_5['PercentChange'].mean(), 2)
share_mn_3 = round(share_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Share Growth: {share_mn_10}%')
print(f'Five Year Average Share Growth: {share_mn_5}%')
print(f'Three Year Average Share Growth: {share_mn_3}%')

share_df

Ten YearAverage Share Growth: -1.92%
Five Year Average Share Growth: -1.53%
Three Year Average Share Growth: -0.61%

            SharesOutDiluted  PercentChange
FiscalYear
1984                1128.571            NaN
1985                1187.000           5.18
1986                 946.667         -20.25
1987                1272.105          34.38
1988                1291.923           1.56
1989                1331.579           3.07
1990                1250.000          -6.13
1991                1302.941           4.24
1992                1312.500           0.73
1993                1497.696          14.11
1994                1526.992           1.96
1995                1549.048           1.44
1996                1517.552          -2.03
1997                1590.908           4.83
1998                1772.549          11.42
1999                1748.193          -1.37
2000                1788.304           2.29
2001                1675.000          -6.34
2002                1720.000           2.69
2003                1996.667          16.09
2004                1768.000         -11.45
2005                1671.000          -5.49
2006                1560.000          -6.64
2007                1446.000          -7.31
2008                1321.000          -8.64
2009                1269.000          -3.94
2010                1213.000          -4.41
2011                1171.000          -3.46
2012                1146.000          -2.13
2013                1113.000          -2.88
2014                1080.000          -2.96
2015                1043.000          -3.43
2016                1021.000          -2.11
2017                1012.000          -0.88
2018                 990.000          -2.17
2019                 952.000          -3.84
2020                 933.000          -2.00
2021                 936.000           0.32
2022                 926.000          -1.07
2023                 916.000          -1.08

# Dividend Growth

In [6]:
div_s = pd.Series(grow_df['CashForDividends'].abs())
div_pc_s = round(div_s.pct_change() * 100, 2)
div_dict = {'CashForDividends' : div_s, 'PercentChange' : div_pc_s}

div_df = pd.DataFrame(div_dict)

div_df_10 = div_df[div_df.index > year10]
div_df_5 = div_df[div_df.index > year5]
div_df_3 = div_df[div_df.index > year3]

div_mn_10 = round(div_df_10['PercentChange'].mean(), 2)
div_mn_5 = round(div_df_5['PercentChange'].mean(), 2)
div_mn_3 = round(div_df_3['PercentChange'].mean(), 2)

print(f'Ten YearAverage Dividend Growth: {div_mn_10}%')
print(f'Five Year Average Dividend Growth: {div_mn_5}%')
print(f'Three Year Average Dividend Growth: {div_mn_3}%')

div_df

Ten YearAverage Dividend Growth: 14.67%
Five Year Average Dividend Growth: 12.34%
Three Year Average Dividend Growth: 10.02%

            CashForDividends  PercentChange
FiscalYear
1984                     0.0            NaN
1985                     0.0            NaN
1986                     0.0            NaN
1987                     0.0            NaN
1988                     0.0            NaN
1989                    97.3            inf
1990                    94.0          -3.39
1991                    90.0          -4.26
1992                    98.0           8.89
1993                    86.0         -12.24
1994                    79.0          -8.14
1995                   111.0          40.51
1996                   129.0          16.22
1997                   131.0           1.55
1998                   133.0           1.53
1999                   134.0           0.75
2000                   141.0           5.22
2001                   147.0           4.26
2002                   147.0           0.00
2003                   147.0           0.00
2004                   154.0           4.76
2005                   173.0          12.34
2006                   199.0          15.03
2007                   425.0         113.57
2008                   537.0          26.35
2009                   567.0           5.59
2010                   592.0           4.41
2011                   644.0           8.78
2012                   819.0          27.17
2013                  1175.0          43.47
2014                  1323.0          12.60
2015                  1444.0           9.15
2016                  1646.0          13.99
2017                  2104.0          27.83
2018                  2555.0          21.44
2019                  3008.0          17.73
2020                  3426.0          13.90
2021                  3886.0          13.43
2022                  4297.0          10.58
2023                  4557.0           6.05